<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/edvinbasil/milligram/dist/milligram.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>WTF Menu</title>
</head>

<body>
  <style>
    .dash {
      border: 2px solid black;
      border-radius: 3px;
      padding: 5px 7px;
    }
  </style>
  <div id="app">

    <p v-if="error" style="color: red">
      Error: {{error}}
    </p>
    <p v-if="success" style="color: rgb(79, 141, 105)">
        {{success}}
      </p>
    <p>Select method to recieve otp</p>
    <div class="otpmethods">
      <button @click="setMethod('phone')">Phone</button>
      <button @click="setMethod('email')">Email</button>
    </div>
    <form v-if="otpMethod === 'phone'">
      <p>Enter your phone number:</p>
      <input v-model="user" name="phone" type="text" maxlength="15" placeholder="Phone">
      <button @click.prevent="sendOtp" type="submit">Get OTP</button>
    </form>
    <form v-if="otpMethod === 'email'">
      <h3>Enter your email:</h3>
      <input v-model="user" name="email" type="text" maxlength="100" placeholder="Email">
      <input value="email" name="type" type="hidden">
      <button @click.prevent="sendOtp" type="submit">Get OTP</button>
    </form>

    <h3>Enter your otp </h3>

    <form>
      <input v-model="otp" name="otp" type="text" placeholder="otp">
      <button @click.prevent="verifyOtp" type="submit">Verify</button>
    </form>

    <a class="dash" href="/dashboard">Goto your dashboard</a>
  </div>


  <script>
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        otpMethod: 'email',
        user: '',
        otp: '',
        error: '',
        success: ''
      },
      mounted() {
        this.error = getParameterByName('error');
      },
      methods: {
        setMethod(m) {
          this.user = '';
          this.otpMethod = m;
        },

        sendOtp() {
          fetch('/sendotp', {
            method: 'POST',
            credentials: 'include',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              user: this.user,
              type: this.otpMethod
            })
          }).then(res => {
            this.response = res
          })
        },

        verifyOtp() {
          fetch('/verify', {
            method: 'POST',
            redirect: 'follow',
            credentials: 'include',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              user: this.user,
              otp: this.otp,
            })
          }).then(res => {
            this.error = ''
            this.success = 'Logged in'
          })
        }
      }
    });
  </script>
</body>

</html>